@charset "UTF-8";

/* 전체 영역 + 큰 div파트 세팅 */
#productMainWrap {
    width: 950px;
    margin: auto;
}

#productMainWrap div {
    border: solid 1px black;
}

#productMainWrap .pdt-main-inner-wrap {
    width: 100%;
    height: 550px;
    margin-top: 80px;
}

/* 1. 최상단 타이틀 영역 조절 */
#productMainWrap .pdt-mn-title-area {
    height: 20%;
    width: 100%;
}
/* 최상단 타이틀 글씨 조절 */
#productMainWrap .pdt-mn-title-text{
    text-align: center;
    letter-spacing: 3px;
    font-weight: 1000;
    color: rgb(79, 79, 79);
}
#productMainWrap .pdt-mn-text1{
    font-size: 25px;
    height: 60%;
    padding-top: 10px;
}
#productMainWrap .pdt-mn-text2{
    font-size: 20px;
    height: 40%;
    padding-top: 5px;
}

/* 2. 중간 전체조회 버튼있는 영역 조절 */
#productMainWrap .pdt-list-btn {
    height: 10%;
    padding-top: 10px;
}
#productMainWrap .pdt-list-btn button{
    height: 80%;
    float: right;
    font-size: 15px;
}

/* 3. 하단 슬라이더 영역 조절 */
#productMainWrap .swiper {
    width: 100%;
    height: 70%;
}

#productMainWrap .swiper-slide div{
    width: 95%;
    margin: auto;
}

/* 이미지 사이즈 조절 */
#productMainWrap .swiper-slide>img {
    width : 95%;
    height : 60%;
    margin: 0px 5px 0px 5px;
    object-fit: contain;
}

/* 상품 설명들 조절 */
#productMainWrap .productBlockText1{height: 10%; text-align: center;}
#productMainWrap .productBlockText2{height: 10%; text-align: center;}
#productMainWrap .productBlockText3{height: 5%; font-size: 1px; text-align: right;}
#productMainWrap .productBlockText4{height: 15%; padding: 5px 10px 5px 10px; text-align: center;}

/* 상품 마우스호버 커서 */
#productMainWrap .swiper-slide img:hover,
#productMainWrap .swiper-slide div:hover {cursor: pointer;}

/* 화살표 버튼색 변경 (기본색은 파란색) */
/* #productMainWrap div[class^=swiper-button] {
    color : black;
    display : block; 아니면 안보이게 숨기기도 가능
}
#productMainWrap .swiper-pagination{
    display: block;
}
#productMainWrap .swiper-scrollbar{
    display: none;
} */

/* 화살표 페이지네이션 위치 */
/* #productMainWrap .swiper-button-prev{ left : 101%; }
#productMainWrap .swiper-button-next{ left : 196%; }
#productMainWrap .swiper-pagination{ left : 100%; bottom: 0px; } */
 
/* .swiper-button-prev,
.swiper-button-next {
  top: 50%;
}

.swiper-button-prev {
  left: 10px;
  transform: translateY(-50%);
}

.swiper-button-next {
  right: 10px;
  transform: translateY(-50%);
} */