#productSideBarWrap {
  width: 230px;
}

/* 정렬기준 부분 */
#pdtSideBarSortArea > label[for='sideBarSortBtn1'] {
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

#pdtSideBarSortArea label{
	width: 77px;  		
	height: 30px;
	background-repeat: no-repeat; 
}


#sideBarSortBtn1 + label { background-image: url('../../image/product/productEtc/sortNewImgBl.png'); }
#sideBarSortBtn2 + label { background-image: url('../../image/product/productEtc/sortBestSellerImgBl.png'); }
#sideBarSortBtn3 + label { background-image: url('../../image/product/productEtc/sortPopularImgBl.png'); }

#sideBarSortBtn1:checked + label { background-image: url('../../image/product/productEtc/sortNewImg.png'); }
#sideBarSortBtn2:checked + label { background-image: url('../../image/product/productEtc/sortBestSellerImg.png'); }
#sideBarSortBtn3:checked + label { background-image: url('../../image/product/productEtc/sortPopularImg.png'); }

/* 아코디언 부분 */
#accordionPanelsStayOpenExample {
  width: 100%;
}

/* 아코디언 부분 설정(크기, 범위) */
#productSideBarWrap .accordion-header {
  width: 100%;
  height: 89px;
  --bs-accordion-btn-padding-y: 2rem;
}

#productSideBarWrap .accordion-body {
  padding: 5px 5px 50px 5px;
}

/* 체크박스 부분 설정 */
#productSideBarWrap .pdt-side-checkbox {
  width: 100%;
  max-height: 230px;
  /* 스크롤바 생기는 높이 */
  overflow-y: auto;
  padding: 5px;
}

#productSideBarWrap .pdt-side-checkbox-inner {
  margin-left: 10px;
}

#productSideBarWrap .list-group-item {
  padding-left: 30px;
  margin: 0px;
  text-align: left;
}



/* ↓ 슬라이더 오픈소스 CSS, Copyright https://codepen.io/Manitoba/pen/ZWRjye?js-preprocessor=babel */
#productSideBarWrap [slider] {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: 50px 0 20px 0;
}

#productSideBarWrap [slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 14px;
}

#productSideBarWrap [slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 10px;
  background-color: antiquewhite;
  margin: 0 7px;
}

#productSideBarWrap [slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 14px;
  border-radius: 10px;
  background-color: antiquewhite;
  margin: 0 7px;
}

#productSideBarWrap [slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 14px;
  background-color: rgb(223,190,106);
}

#productSideBarWrap [slider] > div > [thumb] {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 28px;
  width: 28px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #FFF;
  border-radius: 50%;
  outline: none;
}

#productSideBarWrap [slider] > input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

#productSideBarWrapdiv[slider] > input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

#productSideBarWrap div[slider] > input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

#productSideBarWrap div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

#productSideBarWrap div[slider] > input[type=range]:focus {
  outline: none;
}

#productSideBarWrap div[slider] > input[type=range]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
}

#productSideBarWrap div[slider] > input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
}

#productSideBarWrap div[slider] > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  -webkit-appearance: none;
}

#productSideBarWrap div[slider] > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

#productSideBarWrap div[slider] > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

#productSideBarWrap div[slider] > input[type=range]::-ms-tooltip {
  display: none;
}

#productSideBarWrap [slider] > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index:3;
  background-color: rgb(223,190,106);
  color: #fff;
  width: 28px;
  height: 29px;
  border-radius: 28px;
  -webkit-border-radius: 15px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

#productSideBarWrap [slider] > div > [sign]:after {
  position: absolute;
  content: '';
  left: 0;
  border-radius: 16px;
  top: 20px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: rgb(223,190,106);
}

#productSideBarWrap [slider] > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

#productSideBarWrap [slider]:hover > div > [sign] {
  opacity: 1;
}