#productListWrap div{border: solid 1px black;}
#pdtListOuterLeft div{border: solid 1px green;}
#pdtListOuterRight div {border: solid 1px blue;}


/* 전체 랩 + 왼(사이드바) 오(콘텐트) 위치&크기 설정*/
#productListWrap {
    display: block;
    width: 1500px;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    border: solid 1px black;
}
#pdtListOuterLeft{
    width: 230px;
    float: left;
    margin-top: 190px;
    margin-left: 2%;
}
#pdtListOuterRight{
    width: 900px;
}

/* 타이틀 영역 */
#pdtListTitleArea{
    height: 150px;
    margin-bottom: 40px;
}
#pdtListTitleArea .pdt-list-main-title{height: 60%;}
#pdtListTitleArea .pdt-list-sub-title{height: 40%;}

/* 상품 정보 영역 */
#pdtListOuterRight .pdt-list-container-col{
	height: 550px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    border: solid 1px black;
    position: relative;
}
#pdtListOuterRight .pdt-list-container-col div{
	margin: 0px 5px 5px 5px;
}

#pdtListOuterRight .pdt-list-pdtImgSrc{height: 50%;}
#pdtListOuterRight .pdt-list-pdtImgSrc img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%; /* 이미지의 최대 높이를 부모 div의 높이로 제한 */
}

#pdtListOuterRight .pdt-list-pdtManufac{height: 10%;}
#pdtListOuterRight .pdt-list-pdtName{height: 10%;}
#pdtListOuterRight .pdt-list-reviewAvg{height: 5%;}
#pdtListOuterRight .pdt-list-pdtIntro{height: 10%;}
#pdtListOuterRight .pdt-list-pdtDescription{height: 15%;}

#pdtListOuterRight .pdt-list-pdtImgSrc,
#pdtListOuterRight .pdt-list-pdtManufac,
#pdtListOuterRight .pdt-list-pdtName,
#pdtListOuterRight .row.pdt-list-reviewAvg,
#pdtListOuterRight .pdt-list-pdtIntro,
#pdtListOuterRight .pdt-list-pdtDescription {
    overflow: hidden; /* 튀어나가는 글자 숨김 */
    justify-content: center; /* 정렬 */
	align-items: center;
}

#pdtListOuterRight .row.pdt-list-reviewAvg {
    justify-content: flex-end;
    align-items: center;
}

/* 하트, 장바구니 아이콘 */
#pdtListOuterRight .pdt-list-icon-area{
	width:80%;
	left: 7.7%;
	z-index: 1;
	top: 0%;
	height: 47.3%;
	position:absolute;
	font-size: 80px;
	padding-top: 35%;
	/* opacity: 0; */
}
#pdtListOuterRight .pdt-list-icon-area div{
	width:35%;
	padding:0px;
}

#pdtListOuterRight .bi.pdt-list-cart{
	float: right;
}

#pdtListOuterRight .bi.pdt-list-heart{
	float: left;
}

#pdtListOuterRight .bi.pdt-list-cart:hover,
#pdtListOuterRight .bi.pdt-list-heart:hover{
	cursor: pointer;
	font-size: 83px;
}


