/* 전체, 좌, 우 영역 div들 기본설정 */
#pdtDetailWrap {
	width: 950px;
	margin: auto;
	margin-top: 80px;
}

#footer {
	margin-top: 200px;
	display: inline-block !important;
}
#pdtDetailWrap div {
	border: 1px solid rgb(232, 232, 232);
	box-sizing: border-box;
}

#pdtDetailLeft {float: left; width: 47%;}
#pdtDetailRight {float: right; width: 47%;}
#pdtDetailWrap .pdt-detail-container {
	background-color: rgb(232, 232, 232);
}

/* 각 섹션 높이, 컬러 설정 */
.pdt-section-tl { height: 70px; background-color: rgb(223, 190, 106); }
#pdtDetailIntro { height: 60px; background-color: rgb(223, 190, 106);}
#pdtDetailDescription {
	min-height: 300.37px;
	max-height: 700px;
	overflow: hidden;
}
.pdt-section-su { height: 60px; }
.pdt-section-or {
	height: 70px;
	background-color: rgb(247, 199, 131);
}
.detail-bg {background-color: rgb(223, 190, 106);}

/* 상하 정렬 */
#pdtDetailWrap .pdt-dt-align {
	display: flex;
   	align-items: center;
}
#pdtDetailWrap .pdt-dt-align-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 마진(탑) & 패딩(좌측) 스타일 */
#pdtDetailWrap .pdt-dtl-mg-top-30 { margin-top: 30px; }
#pdtDetailWrap .pdt-dtl-mg-top-50 { margin-top: 50px; }
#pdtDetailWrap .pdt-dt-pad {padding: 20px 30px 20px 30px;}

/* h요소 마진설정 */
#pdtDetailWrap h2, h3, h4, h5, h6 {margin: 0;}

/* 좌측 */
/* 상품 대표 이미지 영역 */
#pdtDetailThumbnail {
	height: 420.38px;
	width: 100%;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 50px;
}
#pdtDetailThumbnail img {
	width: 90%;
	height: 100%;
	object-fit: cover; /* 이미지가 div에 맞춰지면서 비율 유지 */
}

/* 리뷰 영역 */
.pdt-dt-rv-row {height: 120px;}
.pdt-dt-rv-row .col-3 {text-align: center; height: 100%; }
.pdt-dt-rv-row img { height: 100%; }
.pdt-dt-rv-content {
	height: 100%;
       overflow: hidden;
       padding: 10px;
       text-overflow: ellipsis;
       display: -webkit-box;
       -webkit-line-clamp: 3;
       -webkit-box-orient: vertical;
}
#pdtDetailReviewEnd { margin-top: 30px; height: 50px; }


/* 우측 */
/* 옵션, 수량 인풋 요소 */
#pdtDetailClear {width: 30px;}
#pdtDetailSelectInput { width: 90%; border-radius: 5px; }
#pdtDetailSelectInput option[value=""] {display: none;}
#pdtDetailQuanInput { width: 90%; border-radius: 5px;}
.pdt-dt-input {
	color: grey;
	text-align: center;
	height: 70%;
}
#pdtDetailOptionInfo { display : none; }
