<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">

<resultMap type="notice" id="noticeResultSet">
	<result column="NOTICE_NO" property="noticeNo"/>
	<result column="NOTICE_CTGY" property="noticeCtgy"/>
	<result column="NOTICE_TITLE" property="noticeTitle"/>
	<result column="NOTICE_CONTENT" property="noticeContent"/>
	<result column="NOTICE_CREATE_DATE" property="noticeCreateDate"/>
	<result column="NOTICE_THUMBNAIL_FILE" property="noticeThumbnailFile"/>
	<result column="NOTICE_FILE" property="noticeFile"/>
	<result column="NOTICE_COUNT" property="noticeCount"/>
	<result column="NOTICE_STATE" property="noticeState"/>
</resultMap>

<select id="countNoticeList" resultType="_int">
SELECT COUNT(*) FROM TB_NOTICE
</select>
<select id="selectNoticeList" resultMap="noticeResultSet">
SELECT
    NOTICE_NO,
    NOTICE_CTGY,
    NOTICE_STATE,
    NOTICE_THUMBNAIL_FILE,
    NOTICE_TITLE,
    TO_CHAR(NOTICE_CREATE_DATE,'YYYY-MM-dd') "NOTICE_CREATE_DATE"
FROM
    TB_NOTICE
ORDER BY NOTICE_STATE DESC, NOTICE_NO
</select>
<update id="increaseNoticeCount" parameterType="_int">
UPDATE TB_NOTICE SET NOTICE_COUNT=NOTICE_COUNT+1 WHERE NOTICE_NO=#{noticeNo}
</update>
<select id="selectNoticeDetail" parameterType="_int" resultMap="noticeResultSet">
SELECT
    NOTICE_NO,
	NOTICE_CTGY,
	NOTICE_TITLE,
	NOTICE_CONTENT,
    TO_CHAR(NOTICE_CREATE_DATE,'YYYY-MM-dd') "NOTICE_CREATE_DATE",
    NOTICE_THUMBNAIL_FILE,
	NOTICE_FILE,
	NOTICE_COUNT,
	NOTICE_STATE
FROM
    TB_NOTICE
WHERE
	NOTICE_NO=#{noticeNo}
</select>
<insert id="insertNotice" parameterType="notice">
INSERT INTO
	TB_NOTICE(
		NOTICE_NO,
		NOTICE_CTGY,
		NOTICE_TITLE,
		NOTICE_CONTENT,
		NOTICE_THUMBNAIL_FILE,
		NOTICE_FILE
) VALUES (
	SEQ_NOTICE.NEXTVAL,
	#{noticeCtgy},
	#{noticeTitle},
	#{noticeContent},
	#{noticeThumbnailFile},
	#{noticeFile}
)
</insert>
<update id="noticeEnd">
UPDATE TB_NOTICE SET NOTICE_STATE='N' WHERE NOTICE_NO=#{noticeNo}
</update>
<update id="noticeRestart">
UPDATE TB_NOTICE SET NOTICE_STATE='Y' WHERE NOTICE_NO=#{noticeNo}
</update>
<update id="updateNotice" parameterType="notice">
UPDATE TB_NOTICE
SET
    NOTICE_CTGY=#{noticeCtgy},
    NOTICE_TITLE=#{noticeTitle},
    NOTICE_CONTENT=#{noticeContent},
    NOTICE_THUMBNAIL_FILE=#{noticeThumbnailFile},
    NOTICE_FILE=#{noticeFile}
WHERE
    NOTICE_NO=#{noticeNo}
</update>
</mapper>