@charset "UTF-8";
/*
	css, js파일 가져오기 예시
    <link href="resources/css/frags/loginJoinModal.css" rel="stylesheet">
    <script src="resources/js/member/loginForm.js"></script>
	<script src="resources/js/member/memberEnrollForm.js"></script>
*/

/************************* 모달 관련 CSS *************************/
/* 모달 첫화면 (로그인 / 회원가입 버튼) */
#pdtLoginModal .modal-header {
	width: 100%;
}
/* 모달 버튼 */
#pdtFirstModalLoginBtn,
#pdtFirstModalEnrollBtn {
	width: 100% !important;
	margin-top: 20px !important;
}


/* 로그인 입력양식 */
/* jsp에 loginForm.css 링크함 */


/* 회원가입 입력양식
#pdtMainEnrollFormModal .modal {
	--bs-modal-width : 400px;
} */
#enroll-form {
	padding: 0px 30px 0px 30px;
}

#enroll-form .modal-footer {padding: 0px;}

/* 요소들 상하간격 */
#enroll-form label {
	margin-bottom: 17px;
}

/* 회원가입 모달창 요소들 폰트크기, 가로세로크기 설정 */
#enroll-form .pdt-main-form-group {
	font-size: 12px;
	text-align: left;
}
#pdtMainPoCodeBtn {
	font-size: 1px;
	padding: 0px;
	margin-bottom: 10px;
	width: 65%;
	height: 35px;
	float: right;
}
#pdtMainSubmitBtn {width: 30%; margin:0px; float: right; margin-left: 20px;}
#pdtMainResetBtn {width: 29%;}

#enroll-form .pdt-main-form-group input[type='text'],
input[type='date'] {
	width: 65%;
	height: 25px;
	float: right;
}

/* 인풋요소들 플레이스홀더 폰트크기 */
#enroll-form .pdt-main-form-group input::placeholder {
	font-size: 1px;
}

#enroll-form input[type='date']::before {
content: attr(data-placeholder);
width: 100%;
font-size: 1px;
}

/* 기타 */
#checkResult {
	font-size:1em;
	display:none;
}