@charset "UTF-8";
/************************* 모달 관련 CSS *************************/
/* 모달 첫화면 (로그인 / 회원가입 버튼) */
#pdtLoginModal .modal-header {
	width: 100%;
}
/* 모달 버튼 */
#pdtFirstModalLoginBtn,
#pdtFirstModalEnrollBtn {
	width: 100% !important;
	margin-top: 20px !important;
}