@charset "UTF-8";

/* 푸터 전체 요소 */
footer{
	width: 100%;
    background-color: rgb(85, 85, 85);
    color: rgb(255, 255, 255);
}
footer div {
    /*border: 1px solid black;*/
    box-sizing: border-box;
}
.footerWrap {
    width: 1200px;
    margin: auto;
}
/* 푸터 내부 div */
#footer_inner {width: 100%; float: left;}
#footer_inner_1 {height: 35px;  line-height: 30px;}
#footer_inner_2 {height: 130px;}
#footer_inner_3 {height: 30px;}
/* 푸터 내부 p태그들 */
#footerWrap p {display:inline-block; margin: 0px; position: relative; left: 20px;}

.footer-top-wrap{background-color: rgb(32, 32, 32);}