@charset "UTF-8";


header{
	width: 100%;
	background-image: linear-gradient(to bottom, rgb(223, 190, 106), rgb(244,235, 211));
}
header div {
    /*border: 1px solid black;*/
    box-sizing: border-box;
}

#headerWrap {
    width: 1200px;
    height: 280px;
	margin: auto;
}


.full_width_divs{width: 100%;}
.full_height_divs{height: 100%;  float: left;}

#header_1{height: 200px;}
#header_2{height: 80px;}

#header_1_left{width: 17%; text-align: center;}
#header_1_right{width: 83%;}

/* 헤더 왼쪽(로고이미지) */
.logo-wrap{
	display: block;
	margin-top: 10px;
}
#header_1_left img{width: 100%;}

/* 헤더 오른쪽 */
#header_1_right_top {
    height: 20%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
#header_1_right_mid {height: 40%;}
#header_1_right_bottom {height: 30%; padding: 10px 140px 0px 0px;}

/* 헤더 오른쪽 : 탑 띠배너 */
#header_1_right_top p{margin: 0px; margin-top: 5px;}
#header_inner_top_bannerline_1{width: 0%;}
#header_inner_top_bannerline_2{flex: 0 0 77px;width: 77px;}
#header_inner_top_bannerline_3{flex: 0 0 80px;width: 80px;}
#header_inner_top_bannerline_4{flex: 0 0 77px;width: 77px;}
#header_inner_top_bannerline_5{flex: 0 0 110px;width: 110px;}

/* 헤더 오른쪽 : 검색창 */
#header_1_right_bottom form{width: 100%;}

#header_search_inner_area_1{width: 15%;}
#header_search_inner_area_2{width: 70%;}
#header_1_right_bottom button[type="submit"]{width: 10%;}

#header_search_inner_area_2 input,
#header_search_inner_area_2 input::placeholder{
    text-align: center;
}

#header_2 {
	display: flex;
	justify-content: center;
}
/* 드롭다운 메뉴 */
#header_2 .dropdown {
	flex: 0 0 200px;
    width: 200px;
    height: 100%;
    padding-top: 15px;
    text-align: center;
}

#header_2 .dropdown:hover{cursor: pointer;}

#header_2 .dropdown p {
    width: 90%;
    height: 100%;
    display: inline-block;
    margin: 0px;
    padding-top: 5px;
    font-size: 25px;
    color: rgb(124 94 69);
}

.dropdown-menu {width: 90%; text-align: center;}

.header-link{
    text-decoration: none;
    color: rgb(124 94 69);
}
.header-link:hover{
    text-decoration: none;
    color: black;
}

.search-select{
    width: 100%;
    height: 38px;
    border-width: 4px 0px 4px 4px;
    border-color: rgb(223, 190, 106);
    border-style: solid;
}
.search-select:focus{
    outline: none;
}
.search-bar{
    width: 100%;
    height: 38px;
    border-width: 4px 4px 4px 4px;
    border-color: rgb(223, 190, 106);
    border-style: solid;
}
.search-bar:focus{
    outline: none;
}
.search-btn{
    width: 40px;
    height: 38px;
    border-width: 4px 4px 4px 0px;
    border-color: rgb(223, 190, 106);
    border-style: solid;
    background-color: rgb(223, 190, 106);
}