<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>		
			<setting name="jdbcTypeForNull" value="NULL"/>		
	</settings>
	
	  <typeAliases>
		<typeAlias type="com.kh.ttp.user.model.vo.User" alias="user"/>
		
	</typeAliases>
	<!-- 주의 : 미리 등록을 해두기 위해서는 반드시 해당 클래스가 진짜 존재하고 있어야 함 -->
	<!-- 
		environments, transactionManager, dataSource에  기술했던 DB연결정보
		=> DB등록정보는 서버가 실행됨과 동시에 이루어져야 하는 작업
		서버켜짐과 동시에 읽혀지는 파일인 root-context.xml에 기술할 예정
		
		Spring Bean
	-->
	  <mappers>
		<mapper resource="/mapper/member-mapper.xml"/>
		
		
	</mappers>
	<!-- 주의 : 미리 등록을 해두려면 해당 mapper파일이 존재하고 있어야함 + namespace속성값도 있어야함 -->
	
	

</configuration>