<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">

	<!-- 로그인용 쿼리문 -->
	<select id="loginUser" parameterType="user" resultType="user">
		SELECT
			USER_NO userNo,
            USER_EMAIL userEmail,
            NICKNAME nickName,
            USER_PWD userPwd,
            USER_NAME userName,
            STATUS status,
            MEMBER_TYPE memberType,
            BUSINESS_REG businessReg,
            ADULT_STATUS adultStatus,
            BIRTH_DATE birthDate,
            ENROLL_DATE enrollDate,
            USER_PROFILE userProfile,
			
			PHONE phone,
			ADDRESS address,
			ADDRESS_DETAIL addressDetail,
			POSTAL_CODE postalCode
			
		FROM
			TB_USER
		left JOIN
			TB_RECEIVER USING(USER_NO)
		WHERE
			USER_EMAIL = #{userEmail}
			
		<!--  사용자는 DB_userPwd컬럼에 저장된 암호화된 비밀번호를 알 수 없기 때문에 비밀번호 조건을 나중에 제거
		AND
			USER_PWD = #{userPwd}
		-->
			
		AND
			STATUS='Y'
	</select>
	  
	  <!--  
	<select id="emailCheck" parameterType="string" resultType="_int">
	SELECT
		COUNT(*)
	FROM
		TB_USER
	WHERE
		USER_EMAIL = #{checkEmail}
	</select>
	-->


	<!-- 회원가입용 쿼리문 -->
	<insert id="insertUser" parameterType="user">
	INSERT
	INTO
		MEMBER
		(
			USER_NO ,
            USER_EMAIL ,
            NICKNAME ,
            USER_PWD ,
            USER_NAME ,
            MEMBER_TYPE ,
            BUSINESS_REG ,
            ADULT_STATUS ,
            BIRTH_DATE ,
            ENROLL_DATE ,
            USER_PROFILE ,
			
			PHONE ,
			ADDRESS ,
			ADDRESS_DETAIL ,
			POSTAL_CODE 
		)
	VALUES
		(
		#{userNo},
        #{userEmail},
        #{nickName},
        #{userPwd},
        #{userName},
        #{memberType},
        #{businessReg},
        #{adultStatus},
        #{birthDate},
        #{enrollDate},
        #{userProfile},
			
		#{phone},
		#{address},
		#{addressDetail},
		#{postalCode}
		)
	</insert>



</mapper>
