<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="payKakaoMapper">
	
	
	<select id="selectPayKakaoNoSeq" resultType="string">
		SELECT SEQ_PAY_KAKAO.CURRVAL FROM DUAL
	</select>
	
	<select id="selectPayKakao" parameterType="string" resultType="payKakao">
		SELECT PAY_KAKAO_NO payKakaoNo, USER_EMAIL userEmail, TID tid, ITEM_CODE itemCode
		FROM TB_PAY_KAKAO
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	
	<insert id="insertInfoMakeKakaoNoSeq" parameterType="map">
		INSERT INTO TB_PAY_KAKAO(PAY_KAKAO_NO, USER_EMAIL, ITEM_CODE)
		VALUES(SEQ_PAY_KAKAO.NEXTVAL, #{userEmail}, #{itemCode})
	</insert>
	
	<insert id="insertTid" parameterType="map">
		UPDATE TB_PAY_KAKAO
		SET TID = #{tid}
		WHERE PAY_KAKAO_NO = #{payKakaoNo}
	</insert>

	
	
	
	
	
	
	
	
	<!--
	<select id="checkReadyInput" parameterType="java.util.list" resultType="java.util.HashMap">    
		SELECT COUNT(CART_NO), SUM(PDT_OPTION_PRICE)
		FROM TB_CART
		JOIN TB_PRODUCT_OPTION USING(PDT_OPTION_NO)
		WHERE USER_NO = #{userNo}
		AND CART_NO = IN
	</select>
	 -->
	
	
	
	
	
	
	
</mapper>