<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productMapper">
	<resultMap id="productCategoryResultSet" type="productCategory">
		<result column="PDT_CATEG_NO" property="pdtCategNo"/>
		<result column="PDT_CTEG" property="pdtCteg"/>
		<result column="PDT_FAMILY" property="pdtFamily"/>
		<result column="PDT_MANUFAC" property="pdtManufac"/>
		<result column="PDT_GROUP" property="pdtGroup"/>
		
	</resultMap>
	<resultMap id="fundingSelectResultSet" type="fundingSelect">
		<result column="PDT_NO" property="pdtNo"/>
		<result column="PDT_CTEG_NO" property="pdtCategNo"/>
		<result column="PDT_NAME" property="pdtName"/>
		<result column="PDT_OPTION_PRICE" property="pdtOptionPrice"/>
		<result column="PDT_OPTION_STOCK" property="pdtOptionStock"/>
		<result column="PDT_DATE" property="pdtDate"/>
		<result column="PDT_INTRO" property="pdtIntro"/>
		<result column="PDT_DESCRIPTION" property="pdtDescription"/>
		<result column="PDT_INGREDIENT" property="pdtIngredient"/>
		<result column="PDT_SHIPPING" property="pdtShipping"/>
		<result column="PDT_COUNT" property="pdtCount"/>
		<result column="PDT_FILE_NO" property="pdtFileNo"/>
		<result column="PDT_FILE_PATH" property="pdtFilePath"/>
		<result column="PDT_FILE_ORIGIN" property="pdtFileOrigin"/>
		<result column="PDT_FILE_UPLOAD" property="pdtFileUpload"/>
		<result column="PDT_MANUFAC" property="pdtManufac"/> 
		<result column="PDT_GROUP" property="pdtGroup"/>
		<result column="PDT_OPTION_NO" property="pdtOptionNo"/>
		<result column="PDT_OPTION_FIRST" property="pdtOptionFirst"/>
		<result column="PDT_OPTION_SECOND" property="pdtOptionSecond"/>
		<result column="FUNDING_NO" property="fundingNo"/>
		<result column="CUTTING_DATE" property="cuttingDate"/>
		<result column="FUNDING_FEE" property="fundingFee"/>
		<result column="CUTTING_PRICE" property="cuttingPrice"/>
	</resultMap>
	
	
	<resultMap  id="cartSelectResultSet" type="cartSelect">
		<result column="CART_NO" property="cartNo"/>
		<result column="USER_NO" property="userNo" />
		<result column="PDT_NO" property="pdtNo" />
		<result column="CART_QUANTITY" property="cartQuantity"/>
		<result column="PDT_OPTION_PRICE" property="pdtPrice" />
		<result column="PDT_NAME" property="pdtName" />
		<result column="PDT_SHIPPING" property="pdtShipping" />
		<result column="PDT_OPTION_NO" property="pdtOptionNo" />
		<result column="PDT_OPTION_FIRST" property="pdtOptionFirst"/>
		<result column="PDT_OPTION_PRICE" property="pdtOptionPrice"/>
		<result column="PDT_FILE_NO" property="pdtFileNo"/>
		<result column="PDT_FILE_PATH" property="pdtFilePath"/>
		<result column="PDT_FILE_ORIGIN" property="pdtFileOrigin"/>
		<result column="PDT_FILE_UPLOAD" property="pdtFileUpload"/>
		<result column="PDT_MANUFAC" property="pdtManufac"/>
		<result column="FUNDING_NO" property="fundingNo"/>
		<result column="CUTTING_DATE" property="cuttingDate" />
		<result column="FUNDING_FEE" property="fundingFee" /> 
		<result column="CUTTING_PRICE" property="cuttingPrice" />
		<result column="TOTAL" property="total"/>
		
	</resultMap>
	
	<insert id="insertProductCategory" parameterType="productCategory">
		INSERT
			INTO
				TB_PRODUCT_CATEGORY
			VALUES(
			SEQ_PRODUCT_CATEGORY.NEXTVAL,
			'A',
			'C',
			#{pdtManufac},
			#{pdtGroup}
			)
	</insert>
	<select id="selectProductCategory"  resultType="_int">
		SELECT
			MAX(PDT_CATEG_NO)
		FROM
	TB_PRODUCT_CATEGORY
	</select>
	<insert id="insertProduct" parameterType="product">
INSERT INTO
	TB_PRODUCT(
		PDT_NO,
		PDT_CATEG_NO,
		PDT_NAME,
		PDT_INTRO,
		PDT_DESCRIPTION,
		PDT_INGREDIENT,
		PDT_SHIPPING
	)
VALUES(
	SEQ_PRODUCT.NEXTVAL,
	#{pdtCategNo},
	#{pdtName},
	#{pdtIntro},
	#{pdtDescription},
	#{pdtIngredient},
	#{pdtShipping}
)
	</insert>
	<select id="selectProduct" resultType="_int">
		SELECT
			MAX(PDT_NO)
		FROM
			TB_PRODUCT
	</select>
	<insert id="insertProductOption" parameterType="productOption">
		INSERT
			INTO
		
		TB_PRODUCT_OPTION
			(
				PDT_OPTION_NO,
				PDT_NO,
				PDT_OPTION_FIRST,
				PDT_OPTION_SECOND,
				PDT_OPTION_PRICE,
				PDT_OPTION_STOCK
			)
			VALUES(
				SEQ_PRODUCT_OPTION.NEXTVAL,
				#{pdtNo},
				#{pdtOptionFirst},
				#{pdtOptionSecond},
				#{pdtOptionPrice},
				#{pdtOptionStock}
			)
	
	</insert>
	<insert id="insertProductFile" parameterType="productFile">
		INSERT
			INTO
		TB_PRODUCT_FILE
			VALUES(
				SEQ_PRODUCT_FILE.NEXTVAL,
				#{pdtNo},
				0,
				'resources/uploadFiles',
				#{pdtFileOrigin},
				#{pdtFileUpload}
				
				
			)
	</insert>
	<insert id="insertFunding" parameterType="funding">
		INSERT
			INTO
		TB_FUNDING
			VALUES(
				SEQ_FUNDING.NEXTVAL,
				#{pdtNo},
				0,
				#{cuttingDate},
				0,
				#{cuttingPrice}
			)
			
		
	</insert>
	<select id="selectFundingList" resultMap="fundingSelectResultSet">
			SELECT A.*
		FROM(
		    SELECT
		    P.PDT_NO,
		    P.PDT_CATEG_NO,
		    P.PDT_NAME,
		    PO.PDT_OPTION_PRICE,
		    PO.PDT_OPTION_STOCK,
		    P.PDT_INTRO,
		    P.PDT_DESCRIPTION,
		    P.PDT_INGREDIENT,
		    P.PDT_SHIPPING,
		    PC.PDT_FAMILY,
		    PDT_OPTION_FIRST,
		    PDT_OPTION_SECOND,
            PF.PDT_FILE_PATH,
            PF.PDT_FILE_ORIGIN,
            PF.PDT_FILE_PATH ||'/'|| PF.PDT_FILE_UPLOAD "PDT_FILE_UPLOAD",
            P.PDT_DATE,
            PDT_GROUP,
            PDT_MANUFAC,
            F.FUNDING_NO,
            CUTTING_DATE,
            FUNDING_FEE,
            CUTTING_PRICE,
            PDT_COUNT
            
		FROM
		    TB_PRODUCT P JOIN TB_PRODUCT_CATEGORY PC ON(P.PDT_CATEG_NO=PC.PDT_CATEG_NO)
		    JOIN TB_PRODUCT_OPTION PO ON P.PDT_NO = PO.PDT_NO
		    JOIN TB_PRODUCT_FILE PF ON P.PDT_NO = PF.PDT_NO
            JOIN TB_FUNDING F ON P.PDT_NO = F.PDT_NO
		WHERE
		    PC.PDT_CTEG='A' AND PC.PDT_FAMILY='C' AND  PDT_STATUS = 'Y'  ORDER BY PDT_DATE DESC)A
		    WHERE
		        ROWNUM BETWEEN 1 AND 4
			
	
	</select>
	<select id="selectHotFundingList" resultMap="fundingSelectResultSet">
		SELECT A.*
		FROM(
		    SELECT
		    P.PDT_NO,
		    P.PDT_CATEG_NO,
		    P.PDT_NAME,
		    PO.PDT_OPTION_PRICE,
		    P.PDT_INTRO,
		    P.PDT_DESCRIPTION,
		    P.PDT_INGREDIENT,
		    P.PDT_SHIPPING,
		    PC.PDT_FAMILY,
		    PDT_OPTION_FIRST,
		    PDT_OPTION_SECOND,
            PF.PDT_FILE_PATH ||'/'|| PF.PDT_FILE_UPLOAD "PDT_FILE_UPLOAD",
            P.PDT_DATE,
            PDT_GROUP,
            PDT_MANUFAC,
            F.FUNDING_NO,
            CUTTING_DATE,
            CUTTING_PRICE,
            PDT_COUNT,
            FUNDING_FEE
            
		FROM
		    TB_PRODUCT P JOIN TB_PRODUCT_CATEGORY PC ON(P.PDT_CATEG_NO=PC.PDT_CATEG_NO)
		    JOIN TB_PRODUCT_OPTION PO ON P.PDT_NO = PO.PDT_NO
		    JOIN TB_PRODUCT_FILE PF ON P.PDT_NO = PF.PDT_NO
            JOIN TB_FUNDING F ON P.PDT_NO = F.PDT_NO
		WHERE
		    PC.PDT_CTEG='A' AND PC.PDT_FAMILY='C' AND  PDT_STATUS = 'Y'  ORDER BY PDT_COUNT DESC)A
		    WHERE
		        ROWNUM BETWEEN 1 AND 4
	</select>
	<select id="newDrinkFundingListCount" resultType="_int">
		SELECT 
		    COUNT(*)
		FROM
		    TB_PRODUCT P JOIN TB_FUNDING F ON(P.PDT_NO=F.PDT_NO)
		WHERE PDT_STATUS = 'Y'
	</select>
	<select id="newDrinkFundingList" resultMap="fundingSelectResultSet">
		SELECT
		    P.PDT_NO,
		    P.PDT_CATEG_NO,
		    P.PDT_NAME,
		    PO.PDT_OPTION_PRICE,
		    PO.PDT_OPTION_STOCK,
		    P.PDT_INTRO,
		    P.PDT_DESCRIPTION,
		    P.PDT_INGREDIENT,
		    P.PDT_SHIPPING,
		    PC.PDT_FAMILY,
		    PDT_OPTION_FIRST,
		    PDT_OPTION_SECOND,
            PF.PDT_FILE_PATH,
            PF.PDT_FILE_ORIGIN,
            PF.PDT_FILE_PATH ||'/'|| PF.PDT_FILE_UPLOAD "PDT_FILE_UPLOAD",
            P.PDT_DATE,
            PDT_GROUP,
            F.FUNDING_NO,
            PDT_MANUFAC,
            CUTTING_DATE,
            FUNDING_FEE,
            CUTTING_PRICE,
            PDT_COUNT
            
		FROM
		    TB_PRODUCT P JOIN TB_PRODUCT_CATEGORY PC ON(P.PDT_CATEG_NO=PC.PDT_CATEG_NO)
		    JOIN TB_PRODUCT_OPTION PO ON P.PDT_NO = PO.PDT_NO
		    JOIN TB_PRODUCT_FILE PF ON P.PDT_NO = PF.PDT_NO
            JOIN TB_FUNDING F ON P.PDT_NO = F.PDT_NO
        WHERE
        	 PDT_STATUS = 'Y'
        ORDER
        	BY
        		PDT_DATE DESC
			
	</select>
	<select id="hotDrinkFundingList" resultMap="fundingSelectResultSet">
		 SELECT
		    P.PDT_NO,
		    P.PDT_CATEG_NO,
		    P.PDT_NAME,
		    PO.PDT_OPTION_PRICE,
		    P.PDT_INTRO,
		    P.PDT_DESCRIPTION,
		    P.PDT_INGREDIENT,
		    P.PDT_SHIPPING,
		    PC.PDT_FAMILY,
		    PDT_OPTION_FIRST,
		    PDT_OPTION_SECOND,
            PF.PDT_FILE_PATH ||'/'|| PF.PDT_FILE_UPLOAD "PDT_FILE_UPLOAD",
            P.PDT_DATE,
            PDT_GROUP,
            PDT_MANUFAC,
            F.FUNDING_NO,
            CUTTING_DATE,
            CUTTING_PRICE,
            PDT_COUNT,
            FUNDING_FEE
            
		FROM
		    TB_PRODUCT P JOIN TB_PRODUCT_CATEGORY PC ON(P.PDT_CATEG_NO=PC.PDT_CATEG_NO)
		    JOIN TB_PRODUCT_OPTION PO ON P.PDT_NO = PO.PDT_NO
		    JOIN TB_PRODUCT_FILE PF ON P.PDT_NO = PF.PDT_NO
            JOIN TB_FUNDING F ON P.PDT_NO = F.PDT_NO
		WHERE
		    PC.PDT_CTEG='A' AND PC.PDT_FAMILY='C' AND PDT_STATUS = 'Y'  ORDER BY PDT_COUNT DESC 
	</select>
	<select id="newDrinkFundingDetail" parameterType="_int" resultMap="fundingSelectResultSet">
		SELECT
			PF.PDT_FILE_PATH ||'/'|| PF.PDT_FILE_UPLOAD "PDT_FILE_UPLOAD",
			PO.PDT_OPTION_NO,
			P.PDT_COUNT,
			P.PDT_NAME,
			PO.PDT_OPTION_PRICE,
			P.PDT_DESCRIPTION,
			P.PDT_INGREDIENT,
		    P.PDT_SHIPPING,
			PO.PDT_OPTION_FIRST,
		    PO.PDT_OPTION_SECOND,
		    PDT_MANUFAC,
		    F.CUTTING_PRICE,
		    F.CUTTING_DATE,
		    F.FUNDING_FEE
		FROM
		    TB_PRODUCT P JOIN TB_PRODUCT_CATEGORY PC ON(P.PDT_CATEG_NO=PC.PDT_CATEG_NO)
		    JOIN TB_PRODUCT_OPTION PO ON P.PDT_NO = PO.PDT_NO
		    JOIN TB_PRODUCT_FILE PF ON P.PDT_NO = PF.PDT_NO
            JOIN TB_FUNDING F ON P.PDT_NO = F.PDT_NO
        WHERE
        	 PDT_STATUS = 'Y' 
        	 AND
        	 P.PDT_NO = #{pdtNo}
		    
	
	</select>
	<update id="increaseCount" parameterType="_int">
		UPDATE
			TB_PRODUCT
		SET
			PDT_COUNT = PDT_COUNT+1
		WHERE
			PDT_NO = #{pdtNo}
	
	</update>
	<select id="selectDrinkFundingList" parameterType="_int" resultMap="fundingSelectResultSet">
		SELECT
			P.PDT_NAME,
			P.PDT_CATEG_NO,
			PO.PDT_OPTION_PRICE,
			PO.PDT_OPTION_STOCK,
			P.PDT_INTRO,
			P.PDT_DESCRIPTION,
			P.PDT_INGREDIENT,
			P.PDT_SHIPPING,
			PC.PDT_MANUFAC,
			PC.PDT_GROUP,
			PO.PDT_OPTION_FIRST,
			PO.PDT_OPTION_SECOND,
			PF.PDT_FILE_ORIGIN,
			PF.PDT_FILE_PATH ||'/'|| PF.PDT_FILE_UPLOAD "PDT_FILE_UPLOAD",
			F.CUTTING_DATE,
			F.CUTTING_PRICE
		FROM
		    TB_PRODUCT P JOIN TB_PRODUCT_CATEGORY PC ON(P.PDT_CATEG_NO=PC.PDT_CATEG_NO)
		    JOIN TB_PRODUCT_OPTION PO ON P.PDT_NO = PO.PDT_NO
		    JOIN TB_PRODUCT_FILE PF ON P.PDT_NO = PF.PDT_NO
            JOIN TB_FUNDING F ON P.PDT_NO = F.PDT_NO
        WHERE
        	 PDT_STATUS = 'Y' 
        	 AND
        	 P.PDT_NO = #{pdtNo}
		
	</select>
	<update id="updateDrinkFunding" parameterType="productCategory">
		UPDATE
			TB_PRODUCT_CATEGORY
		SET
			PDT_MANUFAC = #{pdtManufac},
			PDT_GROUP = #{pdtGroup}
		WHERE
			PDT_CATEG_NO = #{pdtCategNo}
			
	</update>
	<update id="updateDrinkFundingP" parameterType="product">
		UPDATE
			TB_PRODUCT
		SET
			
			PDT_NAME = #{pdtName},
			PDT_INTRO = #{pdtIntro},
			PDT_DESCRIPTION = #{pdtDescription},
			PDT_INGREDIENT = #{pdtIngredient},
			PDT_SHIPPING = #{pdtShipping}
		WHERE
			PDT_NO = #{pdtNo}
		
	</update>
	<select id="selectPdtNo" parameterType="product" resultType="_int">
		SELECT
			PDT_CATEG_NO
		FROM 
			TB_PRODUCT
		WHERE
			PDT_NO = #{pdtNo}
	</select>
	<update id="updateDrinkFundingPO" parameterType="productOption">
		UPDATE
			TB_PRODUCT_OPTION
		SET
			PDT_OPTION_FIRST = #{pdtOptionFirst},
			PDT_OPTION_SECOND = #{pdtOptionSecond},
			PDT_OPTION_PRICE = #{pdtOptionPrice},
			PDT_OPTION_STOCK = #{pdtOptionStock}
		WHERE
			PDT_NO = #{pdtNo}
	</update>
	<update id="updateDrinkFundingF" parameterType="funding">
		UPDATE
			TB_FUNDING
		SET
			CUTTING_DATE = #{cuttingDate},
			CUTTING_PRICE = #{cuttingPrice}
		WHERE
			PDT_NO = #{pdtNo}
			
	</update>
	<update id="updateDrinkFundingPF" parameterType="productFile">
		UPDATE
			TB_PRODUCT_FILE
		SET
			PDT_FILE_ORIGIN = #{pdtFileOrigin},
			PDT_FILE_UPLOAD = #{pdtFileUpload}
		WHERE
			PDT_NO = #{pdtNo}
	</update>
	<update id="deleteDrinkFunding" parameterType="_int">
		UPDATE
			TB_PRODUCT
		SET
			PDT_STATUS = 'N'
		WHERE
			PDT_NO = #{pdtNo}
	</update>
	<update id="updateFundingFee" parameterType="funding">
		UPDATE
			TB_FUNDING
		SET
			FUNDING_FEE = FUNDING_FEE+#{fundingFee}
		WHERE
			PDT_NO = #{pdtNo}
	</update>
	<insert id="confirmFundingPV" parameterType="pay">
		INSERT
			INTO
		   TB_PAY
		   (
		   		PAY_NO,
		   		PAY_METHOD,
		   		PAY_TOTAL,
		   		PAY_BANK,
		   		PAY_NAME,
		   		PAY_STATUS
		   )
		     VALUES(
		     	SEQ_PAY.NEXTVAL,
		     	#{payMethod},
		     	#{payTotal},
		     	#{payBank},
		     	#{payName},
		     	'Y'
		     	
		     )
	</insert>
	<insert id="confirmFundingDrinkO" parameterType="order" >
		INSERT
			INTO
		TB_ORDER
		(
			ORDER_NO,
			USER_NO,
			RECEIVER_NO,
			ORDER_DATE
		)
		VALUES(
			SEQ_ORDER.NEXTVAL,
			#{userNo},
			#{receiverNo},
			SYSDATE		
			
			)
	</insert>
	<select id="selectOrderNo" resultType="_int">
		SELECT 
		    SEQ_ORDER.CURRVAL
		FROM
		    DUAL
	</select>
	<select id="selectPayNo" resultType="_int">
		SELECT
			SEQ_PAY.CURRVAL
		FROM
			DUAL
	</select>
	<insert id="confirmFundingDrinkOD" parameterType="orderDetail">
		INSERT
			INTO
		TB_ORDER_DETAIL
			VALUES(
				SEQ_ORDER_DETAIL.NEXTVAL,
				#{orderNo},
				#{payNo}
			)
	</insert>
	<update id="decreaseStock" parameterType="product">
		UPDATE
			TB_PRODUCT
		SET
			PDT_OPTION_STOCK = PDT_OPTION_STOCK-#{orderQuantity}
		WHERE
			PDT_NO = #{pdtNo}
		
		
	</update>
	<insert id="insertFundingBasket" parameterType="cart">
		INSERT
			INTO
		TB_CART
			VALUES(
				SEQ_CART.NEXTVAL,
				#{userNo},
				#{pdtNo},
				#{pdtOptionNo},
				#{cartQuantity}
				
			)
	</insert>
	<select id="selectFundingCart" parameterType="_int" resultMap="cartSelectResultSet">
		SELECT
			C.CART_NO,
			C.USER_NO,
			C.PDT_NO,
			C.CART_QUANTITY,
			PO.PDT_OPTION_PRICE,
			P.PDT_NAME,
			P.PDT_SHIPPING,
			PO.PDT_OPTION_NO,
			PO.PDT_OPTION_FIRST,
			PO.PDT_OPTION_PRICE,
			PF.PDT_FILE_PATH ||'/'|| PF.PDT_FILE_UPLOAD "PDT_FILE_UPLOAD",
			F.FUNDING_NO,
			F.CUTTING_DATE,
			F.FUNDING_FEE,
			F.CUTTING_PRICE,
			(C.CART_QUANTITY*PO.PDT_OPTION_PRICE)+F.FUNDING_FEE "TOTAL"
			
		FROM
			TB_CART C JOIN TB_PRODUCT P ON(C.PDT_NO=P.PDT_NO)
		    JOIN TB_PRODUCT_OPTION PO ON C.PDT_NO = PO.PDT_NO
		    JOIN TB_PRODUCT_FILE PF ON C.PDT_NO = PF.PDT_NO
            JOIN TB_FUNDING F ON C.PDT_NO = F.PDT_NO
         WHERE
         	C.USER_NO = #{userNo}
			
		
	</select>
		
	

</mapper>