<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productMapper">
	<resultMap id="productCategoryResultSet" type="productCategory">
		<result column="PDT_CATEG_NO" property="pdtCategNo"/>
		<result column="PDT_CTEG" property="pdtCteg"/>
		<result column="PDT_FAMILY" property="pdtFamily"/>
		<result column="PDT_MANUFAC" property="pdtManufac"/>
		<result column="PDT_GROUP" property="pdtGroup"/>
		
	</resultMap>
	<insert id="insertProductCategory" parameterType="productCategory">
		INSERT
			INTO
				TB_PRODUCT_CATEGORY
			VALUES(
			SEQ_PRODUCT_CATEGORY.NEXTVAL,
			'A',
			'C',
			#{pdtManufac},
			#{pdtGroup}
			)
	</insert>
	<select id="selectProductCategory"  resultType="_int">
		SELECT
			MAX(PDT_CATEG_NO)
		FROM
	TB_PRODUCT_CATEGORY
	</select>
	<insert id="insertProduct" parameterType="product">
INSERT INTO
	TB_PRODUCT(
		PDT_NO,
		PDT_CATEG_NO,
		PDT_NAME,
		PDT_PRICE,
		PDT_STOCK,
		PDT_INTRO,
		PDT_DESCRIPTION,
		PDT_INGREDIENT,
		PDT_SHIPPING
	)
VALUES(
	SEQ_PRODUCT.NEXTVAL,
	#{pdtCategNo},
	#{pdtName},
	#{pdtPrice},
	#{pdtStock},
	#{pdtIntro},
	#{pdtDescription},
	#{pdtIngredient},
	#{pdtShipping}
)
	</insert>
	<select id="selectProduct" resultType="_int">
		SELECT
			MAX(PDT_NO)
		FROM
			TB_PRODUCT
	</select>
	<insert id="insertProductOption" parameterType="productOption">
		INSERT
			INTO
		TB_PRODUCT_OPTION
			VALUES(
				SEQ_PRODUCT_OPTION.NEXTVAL,
				#{pdtNo},
				#{pdtOptionFirst},
				#{pdtOptionSecond}
			)
	
	</insert>
	<insert id="insertProductFile" parameterType="productFile">
		INSERT
			INTO
		TB_PRODUCT_FILE
			VALUES(
				SEQ_PRODUCT_FILE.NEXTVAL,
				#{pdtNo},
				0,
				'/resources/uploadFiles',
				#{pdtFileOrigin},
				#{pdtFileUpload}
				
				
			)
	</insert>
	<insert id="insertFunding" parameterType="funding">
		INSERT
			INTO
		TB_FUNDING
			VALUES(
				SEQ_FUNDING.NEXTVAL,
				#{pdtNo},
				0,
				#{cuttingDate},
				0,
				#{cuttingPrice}
			)
			
		
	</insert>
	<select id="selectFundingListPC" resultMap="productCategoryResultSet">
		SELECT
			PDT_CATEG_NO,
			PDT_CTEG,
			PDT_FAMILY,
			PDT_MANUFAC,
			PDT_GROUP
		FROM 
			TB_PRODUCT_CATEGORY
		WHERE
			PDT_CTEG='A' AND
			PDT_FAMILY='C'
			
		
			
	
	</select>

</mapper>