<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="receiverMapper">
	
<!--	
	<update id="updateEmail" parameterType="receiver">
		UPDATE TB_USER
			   SET
			   EMAIL = #{email}
		 WHERE
			   USER_NO = #{userNo}
	</update>
-->	
	
	<insert id="insertReceiver" parameterType="receiver">
		INSERT
		  INTO
		  	   TB_RECEIVER
		  	   (
		  	   RECEIVER_NO,
		  	   USER_NO,
		  	   RECEIVER_NAME,
		  	   PHONE,
		  	   ADDRESS,
		  	   ADDRESS_DETAIL,
		  	   POSTAL_CODE,
		  	   PLACE_ALIAS,
		  	   PRIMARY_STATUS
		  	   )
		VALUES
		  	   (
		  	   SEQ_RECEIVER.NEXTVAL,
		  	   #{userNo},
		  	   #{receiverName},
		  	   #{phone},
		  	   #{address},
		  	   #{addressDetail},
		  	   #{postalCode},
		  	   #{placeAlias},
		  	   #{primaryStatus}
		  	   )
	</insert>
	<insert id="insertReceiverf" parameterType="receiver">
		INSERT
			INTO
				TB_RECEIVER
				(
				   RECEIVER_NO,
			  	   USER_NO,
			  	   RECEIVER_NAME,
			  	   PHONE,
			  	   ADDRESS,
			  	   ADDRESS_DETAIL,
			  	   POSTAL_CODE
				)
			VALUES
				(
				   SEQ_RECEIVER.NEXTVAL,
			  	   #{userNo},
			  	   #{receiverName},
			  	   #{phone},
			  	   #{address},
			  	   #{addressDetail},
			  	   #{postalCode}
				)
	</insert>
	<select id="selectReceiverNo" parameterType="receiver" resultType="_int">
		SELECT
			RECEIVER_NO
		FROM
			TB_RECEIVER
		WHERE
			PHONE=#{phone} AND POSTAL_CODE = #{postalCode}
	</select>
	
	
	



</mapper>
  