<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewMapper">

<resultMap type="review" id="reviewResultSet">
	<result column="review_no" property="reviewNo"/>
	<result column="nickname" property="userNo"/>
	<result column="review_score" property="reviewScore"/>
	<result column="review_content" property="reviewContent"/>
	<result column="review_create_date" property="reviewCreateDate"/>
	<result column="review_modify_date" property="reviewModifyDate"/>
	<result column="review_state" property="reviewState"/>
	<result column="PDT_NAME" property="pdtNo"/>
	
	<result column="USER_PROFILE" property="userProfile"/>
	<result column="thumbnail_path" property="thumbnail"/>
	<result column="product_path" property="productImg"/>
	<result column="PDT_PRICE" property="productPrice"/>
</resultMap>

<select id="countReviewList" resultType="_int">
select
	count(*)
from
	tb_review
where
	review_state = 'Y'
</select>
<select id="seletcReviewList" parameterType="review" resultMap="reviewResultSet">
SELECT
    REVIEW_NO,
    NICKNAME,
    REVIEW_SCORE,
    REVIEW_CONTENT,
    REVIEW_CREATE_DATE,
    REVIEW_MODIFY_DATE,
    PDT_NAME,
    USER_PROFILE,
    REVIEW_FILE_PATH||'/'||REVIEW_FILE_UPLOAD "thumbnail_path",
    PDT_FILE_PATH||'/'||PDT_FILE_UPLOAD "product_path",
    TO_CHAR(PDT_PRICE,'L99,999') "PDT_PRICE"
FROM TB_REVIEW
    JOIN TB_USER USING(USER_NO)
    JOIN TB_PRODUCT USING(PDT_NO)
    JOIN TB_REVIEW_FILE USING(REVIEW_NO)
    JOIN TB_PRODUCT_FILE USING(PDT_NO)
WHERE
	REVIEW_FILE_INDEX = 0
AND
	PDT_FILE_LEV = 0
</select>
<select id="selectReview" parameterType="_int" resultMap="reviewResultSet">
SELECT
    REVIEW_NO,
    NICKNAME,
    REVIEW_SCORE,
    REVIEW_CONTENT,
    REVIEW_CREATE_DATE,
    REVIEW_MODIFY_DATE,
    PDT_NAME,
    USER_PROFILE,
    REVIEW_FILE_PATH||'/'||REVIEW_FILE_UPLOAD "thumbnail_path",
    PDT_FILE_PATH||'/'||PDT_FILE_UPLOAD "product_path",
    TO_CHAR(PDT_PRICE,'L99,999') "PDT_PRICE"
FROM TB_REVIEW
    JOIN TB_USER USING(USER_NO)
    JOIN TB_PRODUCT USING(PDT_NO)
    JOIN TB_REVIEW_FILE USING(REVIEW_NO)
    JOIN TB_PRODUCT_FILE USING(PDT_NO)
WHERE
	REVIEW_NO = #{reviewNo}
AND
	REVIEW_FILE_INDEX = 0
AND
	PDT_FILE_LEV = 0
</select>
</mapper>