@charset "UTF-8";

div {
    border: 1px solid black;
    box-sizing: border-box;
}

#errorPageWrap {
    width: 1200px;
    height: 700px;
    margin: auto;
}
#errorPageWrap div{text-align: center;}
#errorPageWrap .error{width: 100%;}
#errorPageWrap .error div {width: 50%; height: 100%; float: left;}
#error_1{height: 40%; padding-top: 70px;}
#error_2{height: 60%;}
#error_2_img{}
